# NetBeans specific #
**/nbproject/private/
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/target/
**/nbproject/genfiles.properties
**/nbproject/build-impl.xml
**/nbactions.xml
**/nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.war
*.ear

# Otros directorios y archivos
**.vscode
**.session.sql

# Imagenes
**.png
**.jpg